<task-manager-configuration>
    <graph-definitions instance-to-class="com.talanlabs.taskmanager.component.ComponentInstanceToClass">
        <graph-definition object-class="com.talanlabs.taskmanager.example.component.business.ICustomerOrder">
            <init-state initStatut="null">
                <state status="A" task-id="A_TASK">
                    <state status="B" task-id="B_TASK">
                        <state status="D" task-id="D_TASK"/>
                    </state>
                    <state status="C" task-id="C_TASK"/>
                </state>
            </init-state>
            <transitions>
                <transition start-status="null" end-status="A" tasks-path="CHANGE"/>
                <transition start-status="A" end-status="B" tasks-path="VERSB"/>
                <transition start-status="B" end-status="D" tasks-path="CODE=>VERSD"/>
                <transition start-status="A" end-status="C" tasks-path="VERSC"/>
            </transitions>
        </graph-definition>
    </graph-definitions>
    <task-definitions>
        <task-definition task-id="A_TASK" class="com.synaptix.taskmanager.example.component.task.MultiUpdateStatusTask">
            <parameter value="A"/>
        </task-definition>
        <task-definition task-id="B_TASK" class="com.synaptix.taskmanager.example.component.task.MultiUpdateStatusTask">
            <parameter value="B"/>
        </task-definition>
        <task-definition task-id="CHANGE" class="com.synaptix.taskmanager.example.component.task.ChangeTask"/>
        <task-definition task-id="VERSB" class="com.synaptix.taskmanager.example.component.task.VerifyTask">
            <parameter value="B"/>
        </task-definition>
        <task-definition task-id="VERSD" class="com.synaptix.taskmanager.example.component.task.VerifyTask">
            <parameter value="D"/>
        </task-definition>
        <task-definition task-id="STOP" class="com.synaptix.taskmanager.example.component.task.StopTask"/>
    </task-definitions>
</task-manager-configuration>