<task-manager-configurator>
    <object-managers instance-to-class="com.synaptix.taskmanager.component.ComponentInstanceToClass">
        <object-manager class="com.synaptix.taskmanager.example.component.business.ICustomerOrder">
            <graph initStatut="null">
                <node status="A" service="A_TASK" rule="CHANGE">
                    <node status="B" service="B_TASK" rule="VERSB">
                        <node status="D" service="D_TASK" rule="CODE=>VERSD"/>
                    </node>
                    <node status="C" service="C_TASK" rule="VERSC"/>
                </node>
            </graph>
        </object-manager>
    </object-managers>
    <definitions>
        <definition code="A_TASK" class="com.synaptix.taskmanager.example.component.task.MultiUpdateStatusTaskService">
            <parameter value="A"/>
        </definition>
        <definition code="B_TASK" class="com.synaptix.taskmanager.example.component.task.MultiUpdateStatusTaskService">
            <parameter value="B"/>
        </definition>
        <definition code="STOP" class="com.synaptix.taskmanager.example.component.task.StopTaskService"/>
    </definitions>
</task-manager-configurator>

