<?xml version="1.0" encoding="UTF-8"?>
<task-manager-configuration>
    <type-handlers>
        <type-handler type="" handler-class=""/>
    </type-handlers>
    <graph-definitions instance-to-class="com.synaptix.taskmanager.engine.test.data.NoneInstanceToClass">
        <graph-definition status-class="java.lang.String" object-class="com.synaptix.taskmanager.engine.test.data.BusinessObject" get-status-class="">
            <init-state init-statut="">
                <state status="A" task-id="A_TASK">
                    <state status="B" task-id="B_TASK">
                        <state status="D" task-id="D_TASK"/>
                    </state>
                    <state status="C" task-id="C_TASK"/>
                </state>
            </init-state>
            <transitions>
                <transition start-status="" end-status="A" tasks-path="CHANGE"/>
                <transition start-status="A" end-status="B" tasks-path="VERSB"/>
                <transition start-status="B" end-status="D" tasks-path="CODE=>VERSD"/>
                <transition start-status="A" end-status="C" tasks-path="VERSC"/>
            </transitions>
        </graph-definition>
    </graph-definitions>
    <task-definitions>
        <task-definition task-id="A_TASK" task-class="com.synaptix.taskmanager.example.component.task.MultiUpdateStatusTask">
            <parameter value="A"/>
        </task-definition>
        <task-definition task-id="B_TASK" task-class="com.synaptix.taskmanager.example.component.task.MultiUpdateStatusTask">
            <parameter value="B"/>
        </task-definition>
        <task-definition task-id="CHANGE" task-class="com.synaptix.taskmanager.example.component.task.ChangeTask"/>
        <task-definition task-id="VERSB" task-class="com.synaptix.taskmanager.example.component.task.VerifyTask">
            <parameter value="B"/>
        </task-definition>
        <task-definition task-id="VERSD" task-class="com.synaptix.taskmanager.example.component.task.VerifyTask">
            <parameter value="D"/>
        </task-definition>
        <task-definition task-id="STOP" task-class="com.synaptix.taskmanager.example.component.task.StopTask"/>
    </task-definitions>
</task-manager-configuration>